
@{
    Layout = null;
}

<ul data-bind="foreach: menuItems">
	<li data-bind="css: {active: $parent.isActive($data)}">
		<a href='' data-bind="click: $parent.showContent, text: $data"></a>
	</li>
</ul>