body {
    margin-top: 200px;
}

.navbar {
    padding: 7px 5px;
    transition: all .5s;
}

.cbp-af-header-shrink {
    padding: 5px 5px;
    opacity: 0.9;
}

.navbar .navbar-header a img {
    width: 70px;
}
p {
    margin-top: 100px;
}
