/.vs
/DAL/bin
/DALTests/obj
/DALTests1/bin
/NUnitTestProject1/bin
/NUnitTestProject1/obj
/DALTests1/obj
/DAL/obj
/portfolio2gr4/obj
/UnitTest/bin
/UnitTest/obj
/portfolio2gr4/bin/DAL.dll
/portfolio2gr4/bin/DAL.pdb
/portfolio2gr4/bin/portfolio2gr4.dll
/portfolio2gr4/bin/portfolio2gr4.dll.config
/portfolio2gr4/bin/portfolio2gr4.pdb
