div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}
div.suggestions div a{
    text-decoration:none;  
}

div.suggestions div:first-child{
    background-color: #3366cc;
    color: white;
}