<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="Css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="Css/styles.css" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>
<body>

    <header class="navbar navbar-fixed-top">

        <!-- NAVIGATION -->
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" id="navbar-toggle-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">StackOverflow</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul id="Login_menu" class="nav navbar-nav navbar-right login " href='' data-bind="with:loginViewModel">
                        <li>
                            <a data-bind="text:displaytext,click:setLoginInfo"></a>
                        </li>
                    </ul>
                    <div data-bind="with:navigationViewModel">
                        <ul class="nav navbar-nav navbar-right" data-bind="foreach: menuItems">
                            <li data-bind="css: {active: $parent.isActive($data)}">
                                <a href='' data-bind="click: $parent.showContent, text: $data,attr: {id: ($data)+'_menu'}"></a>
                            </li>
                        </ul>
                    </div>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- NAVIGATION ENDS -->
        <!--Search Start-->
        <form class="form-search search">
            <div data-bind="with: searchViewModel">
                <!--<div class="row">-->

                <div id="custom-search-input">
                    <div class="input-group ">
                        <input type="text" id="search_textbox" class="form-control input-lg" data-bind="textInput:searchText, event: {input:getSuggestions}" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" data-bind="click:searchFor">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="row" id="question_suggestions">
                        <datalist id="question_suggestionList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Title"></option>
                        </datalist>
                    </div>
                    <div class="row" id="user_suggestions">
                        <datalist id="user_suggestionsList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Name"></option>
                        </datalist>
                    </div>
                    <div class="row" id="Annotation_suggestions">
                        <datalist id="Annotation_suggestionsList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Body"></option>
                        </datalist>
                    </div>
                    <div class="row" id="history_suggestions">
                        <datalist id="history_suggestionsList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Body"></option>
                        </datalist>
                    </div>

                    <!--</div>-->
                </div>
            </div>
        </form>
        <!--Search End-->
    </header>

    <div id="body_container" data-bind="template:{name: navigationViewModel.currentView}"></div>

    <script type="text/html" id="users_view">
        <h2>Users</h2>
        <div data-bind="foreach: navigationViewModel">
            <div data-bind="text: Url"></div>
            <div data-bind="text: CreationDate"></div>
            <div data-bind="text: Location"></div>
            <div data-bind="text: Name"></div>
        </div>
    </script>
    <script type="text/html" id="users_search_view">
        <h2>Users : Search Result</h2>
        <div data-bind="foreach: searchViewModel.searchResult">
            <div data-bind="text: Url"></div>
            <div data-bind="text: CreationDate"></div>
            <div data-bind="text: Location"></div>
            <div data-bind="text: Name"></div>
        </div>
    </script>
    <script type="text/html" id="annotations_view">
        <h2>Annotation</h2>
        <div data-bind="foreach: navigationViewModel.data, visible: navigationViewModel.showList">
            <div data-bind="text: $data.Url"></div>
            <div data-bind="text: $data.Body"></div>
            <div data-bind="text: $data.Date"></div>
        </div>
    </script>
    <script type="text/html" id="annotations_search_view">
        <h2>Annotation : Search Result</h2>
        <div data-bind="foreach: searchViewModel.searchResult">
            <div data-bind="text: $data.Url"></div>
            <div data-bind="text: $data.Body"></div>
            <div data-bind="text: $data.Date"></div>
        </div>
    </script>
    <script type="text/html" id="categories_view">
        <h2>Categories</h2>
        <div data-bind="foreach: navigationViewModel.data">
            <div data-bind="text: name"></div>
        </div>
    </script>
    <script type="text/html" id="history_view">
        <h2>History</h2>
        <div data-bind="foreach: navigationViewModel.history">
            <div data-bind="text: Url"></div>
            <div data-bind="text: body"></div>
            <div data-bind="text: userId"></div>
        </div>
    </script>
    <script type="text/html" id="history_search_view">
        <h2>History</h2>
        <div data-bind="foreach: foreach: searchViewModel.searchResult">
            <div data-bind="text: Url"></div>
            <div data-bind="text: body"></div>
            <div data-bind="text: userId"></div>
        </div>
    </script>
    <script type="text/html" id="questions_search_view">
        <div class="col-sm-12">
            <div class="text-muted">
                <h2>Questions: Search Result</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10" data-bind="foreach: searchViewModel.searchResult">
                <div class="search-content">
                    <a data-bind="attr:{href:Url}"><h3 data-bind="text:Title"></h3></a>
                    <h4><span class="label label-default" data-bind="text:Owner"></span></h4><h4>
                        <small class="text-muted">CreationDate :<span data-bind="text:CreationDate"></span> • <a data-bind="attr:{href:Url}" class="text-muted">Read More</a></small>
                    </h4>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="questions_view">
        <div data-bind="with:QuestionViewModel">
            <div class="col-sm-10"><h2>Questions</h2></div>
            <div data-bind="foreach:questions_short">
                <div class="col-sm-10 search-content">
                    <a data-bind="event:{click:function(){$parent.showQuestion_full($data.Url);}}"><h3 data-bind="text:$data.Title"></h3></a>
                    <h4><a data-bind="attr:{href:$data.UserUrl}"><span class="label label-default" data-bind="text:$data.UserName"></span></a></h4><h4>
                        <small class="text-muted">
                            <span data-bind="text: $data.CreationDate"></span>•
                            <a data-bind="event:{click:function(){$parent.showQuestion_full($data.Url);}}" class="text-muted">Read More</a>
                        </small>
                    </h4>
                </div>
            </div>
        </div>
    </script>
    <!--showing a specific question-->
    <script type="text/html" id="question_view">
        <div data-bind="with:QuestionViewModel">
            <div class="col-sm-10 search-content">
                <div>
                    <!--question part-->
                    <a data-bind="attr:{href:question_full().Url}"><h3 data-bind="text:question_full().Title"></h3></a>
                    <div title="question" data-bind="html:question_full().Body"></div>
                    <h4>
                        <small class="text-muted signiture">
                            <span data-bind="text: question_full().CreationDate"></span> • <a data-bind="attr:{href:question_full().UserUrl}"><span data-bind="text:question_full().UserName"></span></a> •<span class="label-default label" data-bind="text:'Score: '+question_full().Score"></span>
                        </small>
                    </h4>

                    <hr />
                    <div title="comment" class="comments" data-bind="foreach:commentsOfQestion">
                        <p data-bind="text:$data.CommentBody"></p>
                        <small class="text-muted">
                            <span data-bind="text:$data.CommentDate"></span> • <a data-bind="attr:{href:$data.CommentOwnerUrl}"><span data-bind="text:$data.CommentOwnerName"></span></a>
                        </small>
                        <hr />
                    </div>
                </div>


            </div>
        </div>
    </script>
    <footer></footer>

    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/knockout-3.4.0.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/validator.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/App/searchViewModel.js"></script>
    <script src="~/App/navigationViewModel.js"></script>
    <script src="~/App/loginViewModel.js"></script>
    <script src="~/App/validatorViewModel.js"></script>
    <script src="~/App/UserModel.js"></script>
    <script src="~/App/QuestionModel.js"></script>
    <script src="~/App/QuestionViewModel.js"></script>
    <script src="~/App/masterViewModel.js"></script>

</body>
</html>
