<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="Css/bootstrap.min.css">
    <!-- Optional theme -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

</head>
<body>

    <header class="navbar navbar-fixed-top">

        <!-- NAVIGATION -->
        <nav id="navbar-top" class="navbar navbar-default ">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" id="navbar-toggle-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">StackOverflow</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul id="Login_menu" class="nav navbar-nav navbar-right login " href='' data-bind="with:loginViewModel">
                        <li style="padding-left:15px">
                            <a type="button" class="btn btn-default" id="LoginBtn" data-bind="click:login,text:displaytext" href="#"></a>
                        </li>
                    </ul>
                    <div data-bind="with:navigationViewModel">
                        <ul class="nav navbar-nav navbar-right" data-bind="foreach: menuItems">
                            <li data-bind="css: {active: $parent.isActive($data)}">
                                <a href='' data-bind="click:$parent.showContent, text: $data,attr: {id: ($data)+'_menu'}"></a>
                            </li>
                        </ul>
                    </div>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- NAVIGATION ENDS -->
        <!--Search Start-->
        <form class="form-search search">
            <div data-bind="with: searchViewModel">
                <!--<div class="row">-->

                <div id="custom-search-input">
                    <div class="input-group ">
                        <input type="text" id="search_textbox" class="form-control input-lg" data-bind="textInput:searchText, event: {input:getSuggestions}" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" data-bind="click:searchFor">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="row" id="question_suggestions">
                        <datalist id="question_suggestionList" data-bind="foreach:suggestions">
                            <a><option data-bind="value:$data.Title"></option></a>
                        </datalist>
                    </div>
                    <div class="row" id="user_suggestions">
                        <datalist id="user_suggestionsList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Name"></option>
                        </datalist>
                    </div>
                    <div class="row" id="Annotation_suggestions">
                        <datalist id="Annotation_suggestionsList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Body"></option>
                        </datalist>
                    </div>
                    <div class="row" id="history_suggestions">
                        <datalist id="history_suggestionsList" data-bind="foreach:suggestions">
                            <option data-bind="value:$data.Body"></option>
                        </datalist>
                    </div>

                    <!--</div>-->
                </div>
            </div>
        </form>
        <!--Search End-->
    </header>

    <div id="body_container" class="col-md-12" data-bind="template:{name: navigationViewModel.currentView}"></div>

    <script type="text/html" id="users_view">
        <h2>Users</h2>
        <div class="container-fluid" data-bind="with:UserViewModel">
            <div class="row users " id="users_short" data-bind="foreach:users_short">
                <div class="col-md-5">
                    <table style="table-layout:fixed">
                        <tr style="width:100%">
                            <td colspan="3" style="overflow: hidden"><h4><i class="glyphicon glyphicon-user" style="color:#337ab7;"></i><a data-bind="text:$data.Name"></a></h4></td>
                        </tr>
                        <tr>
                            <td style="width:33.3%"><smal data-bind="text:'Age: '+($data.Age)"></smal></td>
                            <td style="width:33.3%"><strong><span style="color:#1c72bd;" data-bind="text:'Reputation: '+$data.Reputation"></span></strong></td>
                            <td style="width:33.3%"><i class="glyphicon glyphicon-calendar" style="color:#337ab7;padding-left:10px"></i><smal data-bind="text:($data.CreationDate).substring(0, 10)"></smal></td>
                        </tr>
                        <tr>
                            <td><i class="glyphicon glyphicon-thumbs-up" style="color:#337ab7"></i><smal data-bind="text:$data.UpVotes">>Up</smal></td>
                            <td><i class="glyphicon glyphicon-thumbs-down" style="color:#337ab7"></i><smal data-bind="text:$data.DownVotes"></smal></td>
                            <td style="overflow: hidden" data-bind="title:$data.Location"><i class="glyphicon glyphicon-map-marker" style="color:#337ab7 ;padding-left:10px;"></i><smal data-bind="text:($data.Location).substring(0,15)"></smal></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </script>
    <script id="user_view" type="text/html">

        <table class='table text-info' data-bind="with:UserViewModel">
            <caption>User Information</caption>
            <tbody>
                <tr>
                    <td>
                        User Name:
                    </td>
                    <td data-bind="text:SingleUserFull().Name"></td>
                </tr>
                <tr>
                <tr>
                    <td>
                        CreationDate:
                    </td>
                    <td data-bind="text:SingleUserFull().CreationDate"></td>
                </tr>
                <tr>
                    <td>Reputation:</td>
                    <td data-bind="text:SingleUserFull().Reputation"></td>
                </tr>
                <tr><td>Location:</td> <td data-bind="text:SingleUserFull().Location"></td> </tr>
                <tr>
                    <td>Age:</td>
                    <td data-bind="text:SingleUserFull().Age"></td>
                </tr>
                <tr><td>UpVotes:</td><td data-bind="text:SingleUserFull().UpVotes"></td> </tr>
                <tr>
                    <td>DownVotes</td>
                    <td data-bind="text:SingleUserFull().DownVotes"></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <table class='table text-info' data-bind="with:UserViewModel">
            <caption>Annotations</caption>
            <tbody data-bind="foreach:SingleUserFull_Annotations()">
                <tr>
                    <td>
                        Text:
                    </td>
                    <td data-bind="text:Text"></td>
                </tr>
                <tr>
                    <td>Creation Date:</td>
                    <td data-bind="text:Date"></td>
                </tr>
                <tr><td>Question:</td> <td data-bind="text:Title"></td> </tr>
            </tbody>
        </table>
        <hr />
        <table class='table text-info' data-bind="with:UserViewModel">
            <caption data-bind="foreach:SingleUserFull_Histories">Histories</caption>
            <tbody>
                <tr>
                    <td>
                        Search Content:
                    </td>
                    <td data-bind="text:HistoryBody"></td>
                </tr>
                <tr>
                    <td>Search Time:</td>
                    <td data-bind="text:HistoryDate"></td>
                </tr>

            </tbody>

        </table>
        <button>Log out</button>
    </script>
    <script id="popup_userinfo" type="text/html">
        <table class='table text-info' data-bind="UserViewModel">
            <caption>User Infomation</caption>
            <tbody>
                <tr>
                    <td>
                        CreationDate:
                    </td>
                    <td id="user_popover_CreationDate"></td>
                </tr>
                <tr>
                    <td>Reputation:</td>
                    <td id="user_popover_Reputation"></td>
                </tr>
                <tr><td>Location:</td> <td id="user_popover_Location"></td> </tr>
                <tr>
                    <td>Age:</td>
                    <td id="user_popover_Age"></td>
                </tr>
                <tr><td>UpVotes:</td><td id="user_popover_UpVotes"></td> </tr>
                <tr>
                    <td>DownVotes</td>
                    <td id="user_popover_DownVotes"></td>
                </tr>
            </tbody>
        </table>
        <hr />


    </script>
    <script type="text/html" id="users_search_view">
        <h2>Users : Search Result</h2>
        <div data-bind="foreach: searchViewModel.searchResult">
            <div data-bind="text: Url"></div>
            <div data-bind="text: CreationDate"></div>
            <div data-bind="text: Location"></div>
            <div data-bind="text: Name"></div>
        </div>
    </script>
    <script type="text/html" id="annotations_view">
        <h2>Annotation</h2>
        <div data-bind="foreach: navigationViewModel.data, visible: navigationViewModel.showList">
            <div data-bind="text: $data.Url"></div>
            <div data-bind="text: $data.Body"></div>
            <div data-bind="text: $data.Date"></div>
        </div>
    </script>
    <script type="text/html" id="annotations_search_view">
        <h2>Annotation : Search Result</h2>
        <div data-bind="foreach: searchViewModel.searchResult">
            <div data-bind="text: $data.Url"></div>
            <div data-bind="text: $data.Body"></div>
            <div data-bind="text: $data.Date"></div>
        </div>
    </script>
    <script type="text/html" id="categories_view">
        <h2>Categories</h2>
        <div data-bind="foreach: navigationViewModel.data">
            <div data-bind="text: name"></div>
        </div>
    </script>
    <script type="text/html" id="history_view">
        <h2>History</h2>
        <div data-bind="foreach: navigationViewModel.history">
            <div data-bind="text: Url"></div>
            <div data-bind="text: body"></div>
            <div data-bind="text: userId"></div>
        </div>
    </script>
    <script type="text/html" id="history_search_view">
        <h2>History</h2>
        <div data-bind="foreach: foreach: searchViewModel.searchResult">
            <div data-bind="text: Url"></div>
            <div data-bind="text: body"></div>
            <div data-bind="text: userId"></div>
        </div>
    </script>
    <script type="text/html" id="questions_search_view">
        <div class="col-sm-12">
            <div class="text-muted">
                <h2>Questions: Search Result</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" data-bind="foreach: searchViewModel.searchResult">
                <div class="search-content">
                    <a data-bind="attr:{href:Url}"><h3 data-bind="text:Title"></h3></a>
                    <h4><span class="label label-default" data-bind="text:Owner"></span></h4><h4>
                        <small class="text-muted">CreationDate :<span data-bind="text:CreationDate"></span> • <a data-bind="attr:{href:Url}" class="text-muted">Read More</a></small>
                    </h4>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="questions_view">
        <div data-bind="with:QuestionViewModel">
            <div class="col-sm-12"><h2>Questions</h2></div>
            <div id="questions_short" data-bind="foreach:questions_short">
                <div class="col-sm-12 search-content">
                    <a data-bind="event:{click:function(){$parent.showQuestion_full($data.Url);}}"><h3 data-bind="text:$data.Title"></h3></a>
                    <h4><a data-bind="event:{click:function(){$parent.showSingleUserShort($data.UserUrl);}}"><span class="label label-default" data-bind="text:$data.UserName"></span></a></h4><h4>
                        <small class="text-muted">
                            <span data-bind="text: $data.CreationDate"></span>•
                            <a data-bind="event:{click:function(){$parent.showQuestion_full($data.Url);}}" class="text-muted">Read More</a>
                        </small>
                    </h4>
                </div>
            </div>
        </div>
    </script>
    <!--showing a specific question-->
    <script type="text/html" id="question_view">
        <div data-bind="with:QuestionViewModel">
            <div class="col-sm-12 search-content">
                <div>
                    <!--question start-->
                    <h3 data-bind="text:question_full().Title"></h3><button class=" in form-inline glyphicon glyphicon-edit" data-bind="click:function(){UserViewModel.addAnnotation(question_full().Id)}"></button>
                    <div title="question" data-bind="html:question_full().Body"></div>
                    <h4>
                        <small class="text-muted signiture">
                            <span data-bind="text: question_full().CreationDate"></span> • <a data-bind="event:{click:function(){showSingleUserShort(question_full().UserUrl);}}"><span data-bind="text:question_full().UserName"></span></a> •<span class="label-default label" data-bind="text:'Score: '+question_full().Score"></span>
                        </small>
                    </h4>
                    <!--question comments start-->
                    <hr />
                    <div title="comment" class="comments" data-bind="foreach:commentsOfQestion">
                        <p data-bind="text:$data.CommentBody"></p>
                        <small class="text-muted">
                            <span data-bind="text:$data.CommentDate"></span> • <a data-bind="event:{click:function(){$data.showSingleUserShort($data.CommentOwnerUrl);}}"><span data-bind="text:$data.CommentOwnerName"></span></a>
                        </small>
                        <hr />
                    </div><!--question comments end-->
                </div><!--question end-->
                <h4 data-bind="text:question_full().answerCount+' Answer'"></h4><!--answer start-->
                <hr />
                <div title="answers" data-bind="foreach:answersOfQestion">
                    <!--answers start-->
                    <div class="search-content">
                        <!--a single question with comments start-->
                        <div data-bind="html:AnswerBody"></div>
                        <h4>
                            <small class="text-muted signiture">
                                <span data-bind="text: AnswertDate"></span> • <a data-bind="event:{click:function(){$parent.showSingleUserShort(AnswerOwnerUrl);}}"><span data-bind="text:AnswerOwner"></span></a> •<span class="label-default label" data-bind="text:'Score: '+AnswerScore"></span>
                            </small>
                        </h4>
                        <!--ansert comments start-->
                        <hr />
                        <div title="comment" class="comments" data-bind="foreach:$parent.commentsOfAnswer">
                            <p data-bind="text:$data.CommentBody"></p>
                            <small class="text-muted">
                                <span data-bind="text:$data.CommentDate"></span> •<a data-bind="event:{click:function(){UserViewModel.showSingleUserShort($data.CommentOwnerUrl);}}"><span data-bind="text:$data.CommentOwnerName"></span></a>
                            </small>
                            <hr />
                        </div><!--answer comments end-->
                    </div><!--a single question with comments end-->
                </div><!--answers end-->

            </div>
        </div>
    </script>
    <footer class="col-sm-12">
        <div class="row footer">
            <div id="paginationholder">
                <ul class="pagination pagination-sm" id="pagination"></ul>
            </div>
        </div>
    </footer>

    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/knockout-3.4.0.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/validator.js"></script>

    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/App/searchViewModel.js"></script>
    <script src="~/App/navigationViewModel.js"></script>
    <script src="~/App/validatorViewModel.js"></script>
    <script src="~/Scripts/validator.js"></script>
    <script src="~/App/jquery.twbsPagination.js"></script>
    <script src="~/App/AnswerModel.js"></script>
    <script src="~/App/QuestionModel.js"></script>
    <script src="~/App/PaginationViewModel.js"></script>
    <script src="~/App/UserModel.js"></script>
    <script src="~/App/UserViewModel.js"></script>
    <script src="~/App/QuestionViewModel.js"></script>
    <script src="~/App/loginViewModel.js"></script>
    <script src="~/App/masterViewModel.js"></script>
    <link rel="stylesheet" href="Css/styles.css" />
</body>
</html>
