#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

#body_container {
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:100px;
}

.search {
    margin:0px;
}
#navbar-top{
    margin-bottom: 5px;
}
small.text-muted {
    font-family: courier,courier-new,monospace;
}

.search-content {
    margin: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-bottom: 5px;
    margin: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
}

.footer {
    margin: auto;
    width: 100%;
    background-color: #d9d9db;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    position: fixed;
    bottom: 0;
}

    .footer div {
        text-align: center;
        vertical-align: middle;
        line-height: inherit;
    }

.login li {
    cursor: pointer;
}

.comments {
    margin: 0;
    padding: 0;
}

.signiture {
    text-align: right;
}

small {
    align-self: flex-end;
}
 div.users div
 {

	margin:10px;
	border:solid 1px;
	border-color:#337ab7;
	display:block;
	background-color:#d9edf7;
	 padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
	text-align: center;
 }

/*@media (min-width: 500px) {
  body,div,code,a h1, h1, h2,h3,h4 ,p{
    font-size: 1em;
  }
}

@media (min-width: 800px) {
  body,div,code,a h1, h1, h2,h3,h4 ,p {
    font-size: 1.5em;
  }
}
  @media (min-width: 1200px) {
 body,div,code,a h1, h1, h2,h3,h4 ,p  {
    font-size: 2em;
  }
}*/